<div>
    <mat-tab-group id="tabs" backgroundColor="primary" color="warn">
        <mat-tab label="Home" id="color">
          <h1 id="content"> Welcome to HOD Section</h1>
         </mat-tab>
        <mat-tab label="Sign Up"><app-add-student-details></app-add-student-details></mat-tab>
        <mat-tab label="Login Credentials"><app-student-login-credentials></app-student-login-credentials></mat-tab>
    <mat-tab label="Add Student Assign"><app-add-student></app-add-student></mat-tab>
            <!-- <mat-tab label="View All Assign Students"><app-student-assign-list></app-student-assign-list></mat-tab>-->
        <mat-tab label="View Profile"><app-view-profile></app-view-profile></mat-tab>
        <mat-tab label="Update Profile"><app-update-student-details></app-update-student-details></mat-tab> 
      </mat-tab-group>
  </div>
  
