<div class="center">
    <mat-toolbar color="primary">
      <h1 id="title" style="text-align:center">Student Enrollment System</h1>
    </mat-toolbar>
    </div>
    <form>
      <div class="container">
    
      <button class="box" class="btn btn-info" (click)="goToHodSection()" ><i>HOD</i></button>
      <button class="box" class="btn btn-info" (click)="staff()"><i>Staff</i></button>
       <!-- <div class="box"><i>Staff</i><button class="btn btn-info" (click)="staff()"></button></div>  -->
      <button class="box" class="btn btn-info" (click)="goToStudent()"><i>Student</i></button>
       <!-- <div class="box"><i>Student</i></div>  -->
      
      </div>
      </form>
